<!-- <%- include('../layouts/header', {title: 'TecnoBlog'}) %>
    <main class="show">
            <div class="postagem">
                <%- post.content %>
                <a class="button delete">Excluir</a>
                <a class="button edit">Editar</a>
            </div> 
    </main>

<%- include('../layouts/footer') %> -->
<%- include('../layouts/header', {title: 'TecnoBlog'}) %>

<section class="action">
    <div class="container">
        <h1 class="title size-4"> Nova postagem</h1>

        <%- include('../posts/form', { url: `/adm/${post.id}?_method=put`},  {post : post}) %>
    </div>
</section>
    <script>
        // Inicialize o CKEditor na textarea
        ClassicEditor
            .create(document.querySelector('#meu-editor'))
            .catch(error => {
                console.error(error);
            })
            .replace('editor', {
            extraPlugins: 'base64image',
            toolbar: [
                { name: 'insert', items: ['Image'] }
            ]
          }); 
    </script>
<%- include('../layouts/footer') %>